/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.conteiner {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 156px;
  margin-top: 36px;
  width: 355px;
}
#datetime-picker {
  width: 272px;
  height: 40px;
}
button[data-start] {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  cursor: pointer;
  border: none;
  background: #4e75ff;
}
.timer {
  display: flex;
  gap: 24px;
  margin-left: 156px;
  margin-top: 32px;
  width: 346px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
button[data-start]:hover {
  background: #6c8cff;
}
button[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
}
#datetime-picker:hover {
  border-radius: 4px;
}
#datetime-picker:active {
  border-color: #4e75ff;
}
#datetime-picker:disabled {
  background: #cfcfcf;
}

.form {
  margin-top: 36px;
  margin-left: 156px;
  width: 360px;
}
input[name='delay'] {
  display: flex;
  width: 360px;
  margin-bottom: 16px;
}
.label {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  padding-right: 48px;
  padding-left: 48px;
  padding-top: 24px;
  padding-bottom: 8px;
  max-width: 360px;
  margin-bottom: 24px;
}
legend {
  text-align: left;
}

input[type='radio'] {
  accent-color: #007bff;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
}
button:hover {
  background: #6c8cff;
}
fieldset:hover {
  border-color: black;
}
input[name='delay']:hover {
  border-color: black;
}
input[name='delay']:valid {
  border-color: #4e75ff;
}
